* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Serif Text', serif;
  body {
    background-color: #002b36;
    .container {
      display: flex;
      flex-wrap: wrap;
      margin: 150px auto;
      width: 1008px;
      border: 2px solid black;
      .main {
        position: relative;
        overflow: hidden;
        width: 502px;
        height: 1002px;
        background-color: #073642;
        .your {
          display: none;
          flex-wrap: wrap;
          margin: 0 auto;
          background-color: #073642;
          border: 1px solid blue;
          width: 500px;
          height: 1000px;
          justify-content: center;
          font-size: 50px;
          border: 2px solid black;
          p {
            width: 100%;
            text-align:center;
            margin-top: 300px;
            margin-bottom: 50px;
            color: #b58900;
          }
          p:last-child {
            margin-top: 50px;
            margin-bottom: 300px;
            color: #6c71c4;
          }
          .scoreInputEnd {
            color: #859900;
          }
        }
        .tetris {
          width: 500px;
          height: 1200px;
          display: flex;
          overflow: hidden;
          flex-wrap: wrap;
          position: absolute;
          bottom: 0;
          .cell {
            width: calc(100% / 10);
            height: calc(100% / 24);
            border: 0.5px solid #fdf6e3;
            background-color: #073642;

          }
          .figure {
            background-color: #d33682;
            border: 1px solid #6c71c4;
          }
          .set {
            background-color: #cb4b16;
            border: 1px solid #b58900;
          }
        }
      }
      .mainBoards {
        display: flex;
        flex-wrap: wrap;
        width: 502px;
        height: 1002px;
        .scoreBoard, .linesBoard {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          background-color: #6c71c4;
          border: 5px solid black;
          width: 100%;
          height: 25%;
          font-size: 50px;
          p {
            padding-top: 20px;
            width: 100%;
            text-align: center;
          }
          .scoreInput {
            color: #859900;
            font-size: 60px;
          }
        }
        .linesBoard {
          background-color: #6c71c4;
          .linesInput {
            color: #2aa198;
            font-size: 60px;
          }
        }
        .buttons {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 50%;
          button {
            width: 100%;
            background-color: #586e75;
            color: black;
            font-size: 50px;
            border: 5px solid black;
          }
        }
      }
    }
  }
}
